[Desktop Entry]
Exec=sh -c "/usr/bin/secret-tool lookup database infotech-master | /usr/bin/keepassxc --pw-stdin /home/istokm/Infotech/docs/access-control/infotech-master.kdbx"
Name=keepassxc
GenericName=Password Manager
Comment=Launches KeePassXC & opens the master database
TryExec=keepassxc
Icon=keepassxc
Terminal=false
Type=Application
